
<section id="sidepanel-nav" class="h-screen flex bg-gray-200 w-64">
  <!-- Begin Header Of Page -->
  <header class="h-16">
    <!-- Begin Brand-->
    <div>
      <h1>Willy's Page</h1>
    </div>
    <!-- End Brand-->
  </header>
  <!-- End Header of Page -->

  <!-- Begin Navigation -->
  <nav>
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Dashboard</a></li>
    </ul>
  </nav>
  <!-- End Navigation-->
</section>

<!-- Primary Content Area-->
<section class="flex">
  <!--Begin primary content area header-->
  <header class="bg-gray-200">
    <!-- This is where the cheeseburger menu lives -->
    <div class="px-3">
       menu
    </div>
    
    <!-- This is where the Search box lives-->
    <div class="pl-12">
      <input type="text">
    </div>
  </header>
  <!-- End Primary Content Area Header-->

  <!-- Begin Widget Area Section -->
  <section>

  </section>
  <!-- End Widget Area Section -->


</section>
<!-- Begin Primary Content Area-->
