<!----Begin Top Menu Section---->
<nav class="font-serif flex flex-col text-center absolute right-0 sm:flex-row sm:text-left py-2 px-6 bg-white shadow sm:items-baseline w-3/4">
  <div>
    <button type="button" class="block text-gray-500 mt-3 mr-4 hover:text-white focus:text-white focus:outline-none pr-6">
      <svg class="h-6 w-6" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
      </svg>
    </button>
  </div>
  <div class="mx-4 ml-4">
    <input class="shadow appearance-none border rounded px-4 py-1 text-grey-darker mb-2" type="text" placeholder="Search...">
  </div>
  <div>
    hello
  </div>
</nav>

<!----End Top Menu Section------>

<!---Begin Left Menu Section---->

<html>
<body>
<main class="w-1/4">
  <section class="shadow font-serif">
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-grey-darkest font-thin text-xl">
                                TITLE
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer">
                            <span class="text-grey-darkest font-thin text-base">
                                Dashboard
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-indigo hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-indigo font-thin text-base">
                                Ecommerce
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-grey-darkest font-thin text-base">
                                Calendar
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-grey-darkest font-thin text-base">
                                Mail
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-grey-darkest font-thin text-base">
                                Chat
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-grey-darkest font-thin text-base">
                                Contacts
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-grey-darkest font-thin text-base">
                                ToDo
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
    <article>
      <div class="border-transparent hover:underline">
        <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none">
                            <span class="text-grey-darkest font-thin text-base">
                                File Manager
                            </span>
          <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center">
            <!-- icon by feathericons.com -->
            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9">
              </polyline>
            </svg>
          </div>
        </header>
      </div>
    </article>
  </section>
</main>
</body>
</html>

<!---End Left Menu Section---->
